h1
{
	color: rgb(4, 0, 255); 
	font-size: 100px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-size: cover;
}

#myCanvas{
   border: black;
   border-width: 10px;
   border-style: dotted;
   background-color: snow;
   margin-top: 250px;
}
